body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 25px;
  font-family: "Quicksand", sans-serif;
  background-color: #F7F7F7; }

input {
  border: none;
  outline: none; }

.pageWrapper {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .pageWrapper .top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; }
  .pageWrapper .mainNav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4F6D7A;
    height: 100%;
    width: 100%; }
    .pageWrapper .mainNav img {
      height: 50px; }
  .pageWrapper .pageContent {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 80%;
    padding-top: 50px; }
    .pageWrapper .pageContent .leftOfPage {
      height: 85%;
      width: 300px;
      background-color: #AFB5BC;
      margin-right: 25px; }
      .pageWrapper .pageContent .leftOfPage .nav .info {
        padding-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center; }
        .pageWrapper .pageContent .leftOfPage .nav .info img {
          height: 175px; }
      .pageWrapper .pageContent .leftOfPage .nav .links {
        padding-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .pageWrapper .pageContent .leftOfPage .nav .links a {
          color: #DADFEA; }
    .pageWrapper .pageContent .rightOfPage {
      height: 85%;
      width: 100%;
      background-color: #4F6D7A; }
      .pageWrapper .pageContent .rightOfPage .rightNav {
        height: 60px;
        background-color: #AFB5BC; }
        .pageWrapper .pageContent .rightOfPage .rightNav .addListButton {
          position: relative; }
        .pageWrapper .pageContent .rightOfPage .rightNav img {
          height: 75px;
          position: absolute;
          top: 24px;
          left: 30px; }
      .pageWrapper .pageContent .rightOfPage .lists {
        margin: 50px 0 50px;
        overflow-y: scroll;
        height: inherit; }
        .pageWrapper .pageContent .rightOfPage .lists .rowWrapper {
          color: #F7F7F7;
          margin-bottom: 15px; }
          .pageWrapper .pageContent .rightOfPage .lists .rowWrapper :hover {
            background-color: #AFB5BC; }
          .pageWrapper .pageContent .rightOfPage .lists .rowWrapper .row {
            padding: 0 50px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin: 0; }
            .pageWrapper .pageContent .rightOfPage .lists .rowWrapper .row span {
              outline-color: #AFB5BC; }
          .pageWrapper .pageContent .rightOfPage .lists .rowWrapper .deleteListButton {
            padding-left: 50px; }

.bottom {
  display: flex;
  justify-content: center;
  align-items: center; }
  .bottom .addListButton {
    position: fixed;
    bottom: 20px;
    font-size: 50px; }
  .bottom img {
    height: 75px; }

.bottomNav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 0;
  width: 80%;
  position: fixed;
  bottom: -100px;
  transition: 0.7s;
  z-index: 1;
  background-color: #DADFEA;
  box-shadow: 7px 5px 10px 0 #AFB5BC; }
  .bottomNav .closeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 75px; }
  .bottomNav .bottomNavContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; }
    .bottomNav .bottomNavContent .title {
      font-size: 50px;
      color: #FFFFFF;
      margin-bottom: 50px; }
    .bottomNav .bottomNavContent .listName {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 75%; }
      .bottomNav .bottomNavContent .listName span {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        height: 40px;
        padding-left: 30px; }
      .bottomNav .bottomNavContent .listName input {
        padding-left: 30px;
        width: 100%;
        height: 40px;
        color: #AFB5BC; }
    .bottomNav .bottomNavContent .create {
      height: 100%; }
      .bottomNav .bottomNavContent .create button {
        font-size: 25px;
        border: none;
        background-color: #AFB5BC;
        color: white;
        padding: 5px 10px;
        box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.5);
        margin-top: 100px;
        outline: none; }
      .bottomNav .bottomNavContent .create button:active {
        box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.5) inset; }

.fa-clipboard-list {
  padding-right: 15px; }
