$myGrey: #DADFEA;
$myDarkGrey: #AFB5BC;
//$myCream: #F7F7F7;
$myCream: #4F6D7A;
$quicksand: 'Quicksand', sans-serif;

@mixin centerDisplay() {
  display: flex;
  justify-content: center;
  align-items: center;
}

body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 25px;
  font-family: $quicksand;
  background-color: #F7F7F7;
}

input {
  border: none;
  outline: none;
}

.pageWrapper {
  height: inherit;
  @include centerDisplay();
  flex-direction: column;
  .top {
    width: 100%;
    @include centerDisplay();
    height: 100px;
  }
  .mainNav {
    @include centerDisplay();
    //justify-content: space-between;
    background-color: $myCream;
    height: 100%;
    width: 100%;
    img {
      height: 50px;
    }
  }
  .pageContent {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 80%;
    padding-top: 50px;
    .leftOfPage {
      height: 85%;
      width: 300px;
      background-color: $myDarkGrey;
      margin-right: 25px;
      .nav {
        .info {
          padding-top: 20px;
          width: 100%;
          display: flex;
          justify-content: center;
          img {
            height: 175px;
          }
        }
        .links {
          padding-top: 20px;
          width: 100%;
          @include centerDisplay();
          flex-direction: column;
          a {
            color: $myGrey;
          }
        }
      }
    }
    .rightOfPage {
      height: 85%;
      width: 100%;
      background-color: $myCream;
      .rightNav {
        height: 60px;
        background-color: $myDarkGrey;
        input {
        }
        .addListButton {
          position: relative;
        }
        img {
          height: 75px;
          position: absolute;
          top: 24px;
          left: 30px;
        }
      }
    }
  }
}

.bottom {
  @include centerDisplay();
  .addListButton {
    position: fixed;
    bottom: 20px;
    font-size: 50px;
  }
  img {
    height: 75px;
  }
}

.bottomNav {
  @include centerDisplay();
  flex-direction: column;
  height: 0;
  width: 80%;
  position: fixed;
  bottom: -100px;
  transition: 0.7s;
  z-index: 1;
  background-color: $myGrey;
  box-shadow: 7px 5px 10px 0 $myDarkGrey;
  .closeButton {
    @include centerDisplay();
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 75px;
  }
  .bottomNavContent {
    @include centerDisplay();
    flex-direction: column;
    width: 100%;
    .title {
      font-size: 50px;
      color: #FFFFFF;
      margin-bottom: 50px;
    }

    .listName {
      @include centerDisplay();
      width: 75%;
      span {
        @include centerDisplay();
        background-color: #FFFFFF;
        height: 40px;
        padding-left: 30px;
      }

      input {
        padding-left: 30px;
        width: 100%;
        height: 40px;
        color: $myDarkGrey;
      }
    }

    //

    .create {
      height: 100%;
      button {
        font-size: 25px;
        border: none;
        background-color: $myDarkGrey;
        color: white;
        padding: 5px 10px;
        box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.5);
        margin-top: 100px;
        outline: none;
      }
      button:active {
        box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.5) inset;
      }
    }
  }
}


.fa-clipboard-list {
  padding-right: 15px;
}